<%= render "shared/content_title", title: "Profile: #{@user.username}" %>

<% if user_is_current_user_or_admin? %>
  <p class="inline">
    <%= link_to "edit profile", edit_user_path(@user), class: "btn btn-inverse" %>
  </p>
<% end %>

<div class="well">
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Time Zone:</dt>
    <% if @user.time_zone.blank? %>
      <dd><%= Time.zone.name%></dd>
    <% else %>
      <dd><%= @user.time_zone %></dd>
    <% end %>
    <% if logged_in? and current_user.admin? && @user.admin? %>
      <dt>Permissions:</dt>
      <dd><%= @user.user_type %></dd>
    <% end %>
  </dl>
</div>

<h6><%= @user.username %>'s Activity</h6>

<ul class="nav nav-tabs" id="userTab">
  <li class=<%= "active" if params[:tab].nil? %>>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class=<%= "active" if params[:tab] == "comments"%>>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: "comments") %>
  </li>
</ul>

<% if params[:tab].nil? %>
  <% @user.posts.sort_by{|post| post.created_at}.reverse.each do |post| %>
    <%= render "posts/post_preview", post: post %>
  <% end %>
<% elsif params[:tab] == 'comments' %>
  <% @user.comments.sort_by{|c| c.created_at}.reverse.each do |comment| %>
    <%= render "comments/comment", comment: comment, show_post: true %>
  <% end %>
<% end %>