<div class = 'row'>
  <div class= 'well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post)%></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by </span><%= post.creator.username %>
      <small>Posted <%= tell_time_posted(post.created_at)%></small>
    </p>
    <%= link_to pluralize(post.comments.size, "comment"), post_path(post) %>
  </div>
</div>