<div class = 'row'>
  <div id="post_<%= post.slug%>_votes">
  <%= render 'posts/vote_post', voteable_obj: post %>
  </div>
  <div class= 'well span6'>
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post)%></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by </span><%= link_to post.creator.username, user_path(post.creator) %>
      <small>Posted <%= tell_time_posted(post.created_at)%></small>
    </p>
    <hr/>
    <%= link_to post_path(post) do %>
      <%= pluralize(post.comments.size, "comment") %>
    <% end %>
    <% unless post.comments.empty? %>
      <div class='inline pull-right'>
        <span class='quiet'>last comment made</span>
        <%= tell_time_posted(post.comments.last.created_at) %>
      </div>
    <% end %>
  </div>
</div>