<%= render 'shared/content_title', title: @post.title %>

<p class="pull-right">
  [<%= link_to 'Edit This Post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<div class='row'>
  <div class='well'>
    <p><%= @post.description %></p>
    
  </div>
</div>

<% if @post.comments.size > 0 %>
<h6><%= @post.comments.size %> Comments</h6>
<% end %>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='well'>
      <p>
        <%= comment.body %>
        <span class='quiet'>says <%= comment.creator.username%></span>
      </p>

    </div>
  </div>
<% end %>

<%= link_to 'Go Back to Posts', posts_path %>