<% post_title = link_to(@post.title, fix_url(@post.url)) %>

<p>
  <%= render @post.categories %>
</p>
<hr/>

<% if logged_in? && (current_user_is_creator?(@post) || current_user_is_admin?) %>
  <p class="pull-right">
    <%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-inverse" %>
  </p>
<% end %>

<%= render 'shared/content_title', title: post_title %>


<div class='row'>
  <div class='span'>
    <p><%= @post.description %></p>
  </div>
</div>
<hr/>

<% if @post.comments.size > 0 %>
  <h6><%= @post.comments.size %> Comments</h6>
<% end %>

<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>

<% @post.comments.sort_by{|com| com[:created_at]}.reverse.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>