<% if logged_in? %>
  <p class="pull-right">
    <%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-inverse" %>
  </p>
<% end %>

<% post_title = link_to(@post.title, fix_url(@post.url)) %>

<%= render 'shared/content_title', title: post_title %>

<p>
  <%= render @post.categories %>
</p>

<div class='row'>
  <div class='well'>
    <p><%= @post.description %></p>
  </div>
</div>

<% if @post.comments.size > 0 %>
<h6><%= @post.comments.size %> Comments</h6>
<% end %>

<% if logged_in? %>
<%= render 'comments/form' %>
<% end %>

<% @post.comments.sort_by{|com| com[:created_at]}.reverse.each do |comment| %>
  <div class='row'>
    <div class='well'>
      <p>
        <em>"<%= comment.body %>"</em>
        <br/>
        <span class='quiet'>says</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
        <small><%= tell_time_posted(comment.created_at) %></small>
      </p>

    </div>
  </div>
<% end %>