<%= render 'shared/content_title', title: @post.title %>

<h5>
  <span>By <%= @post.creator.username%></span>
  <small>at <%= @post.created_at%></small>
</h5>

<p>
  <%= render @post.categories %>
</p>

<div class='row'>
  <div class='span8 well'>
    <p><%= @post.description %></p>
  </div>
</div>

<% if @post.comments.size > 0 %>
<h6><%= @post.comments.size %> Comments</h6>
<% end %>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='span8 well'>
      <p>
        <%= comment.body %>
        <span class='quiet'>says <%= comment.creator.username%></span>
      </p>

    </div>
  </div>
<% end %>

<%= link_to 'Go Back to Posts', posts_path %>