<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, class: "brand" %>
  </li>
</ul>

<div class='nav_item btn-group'>
  <button class='btn btn-primary btn-small dropdown-toggle' data-toggle='dropdown'>
    Categories <span class="caret"></span>
  </button>
  <ul class='dropdown-menu'>
    <% Category.all.sort{|x, y| x.name.downcase <=> y.name.downcase}.each do |cat| %>
    <li><%= link_to cat.name, category_path(cat) %></li>
    <% end %>
    <% if admin_logged_in? %>
      <li class='divider'></li>
      <li><%= link_to "Add Category", new_category_path %></li>
      <li><%= link_to "View Categories", categories_path %></li>
    <% end %>
  </ul>
</div>

<% if logged_in? %>
  <div class='nav_item'>
     <%= link_to 'New Post', new_post_path, class: "btn btn-success btn-small" %>
  </div>

  <div class='nav_item btn-group'>
    <%= link_to('', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown') do %>
      <%= current_user.username %>
      <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
      <% if admin_logged_in? %>
        <li>
          <%= link_to users_path do %>
            <i class="icon-list-alt"></i>
            View All Users
          <% end %>
        </li>
        <li class="divider"></li>
      <% end %>
      <li>
        <%= link_to edit_user_path(current_user) do %>
          <i class="icon-pencil"></i>
          edit profile
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user) do %>
          <i class="icon-user"></i>
          view profile
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to logout_path do %>
          <i class="icon-circle-arrow-left"></i>
          logout
        <% end %>
      </li>
    </ul>
  </div>
<% else %>
  <div class='nav_item'>
     <%= link_to 'Register', register_path, class: "btn btn-warning btn-small" %>
  </div>

  <div class='nav_item'>
     <%= link_to 'Login', login_path, class: "btn btn-small" %>
  </div>
<% end %>


